@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --color-White: #fff;
  --Montserrat: "Montserrat", sans-serif;
  --color-Sky: #23a6f0;
  --color-Gray: #fafafa;
  --color-Second-Gray: #737373;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--Montserrat);
}
a {
  color: #000;
}

/* intro */
.intro {
  background-image: url(../img/intro.png);
  background-size: cover;
  background-repeat: no-repeat;
}
header {
  display: flex;
  justify-content: center;
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: 1050px;
  padding-top: 33px;
  padding-bottom: 33px;
}
header a {
  color: var(--color-White);
}
.header-leftSide {
  display: flex;
  align-items: center;
  gap: 75px;
}
.logo a {
  font-size: 24px;
  font-weight: 600;
}
nav ul {
  display: flex;
  gap: 21px;
}
nav a {
  font-size: 14px;
  font-weight: 600;
}
.link-panel {
  display: flex;
  align-items: center;
  gap: 45px;
}
.link-login {
  font-size: 14px;
  font-weight: 600;
}
.btn-become-a-member {
  height: 52px;
  background-color: var(--color-Sky);
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 25px;
  padding-right: 25px;
}
.btn-become-a-member {
  font-size: 14px;
  font-weight: 600;
}
/* block-title */
.block-title {
  padding-top: 133px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-bottom: 217px;
}
h1 {
  color: var(--color-White);
  font-weight: 700;
  font-size: 58px;
}
.block-title p {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--color-White);
}
.title-buttons {
  display: flex;
  gap: 10px;
}
.gqn {
  color: var(--color-White);
  font-weight: 600;
  font-size: 14px;
  background-color: var(--color-Sky);
  padding: 15px 36px;
  border-radius: 37px;
}
.lm {
  color: var(--color-White);
  font-weight: 600;
  font-size: 14px;
  background-color: none;
  border: 1px solid var(--color-White);
  padding: 15px 36px;
  border-radius: 37px;
}
/* block-empty */
.block-empty {
  background-color: var(--color-Gray);
  height: 200px;
  display: flex;
  justify-content: center;
  position: relative;
}
.boxs {
  position: absolute;
  top: -95px;
  display: flex;
  gap: 30px;
}
.box {
  background-color: var(--color-White);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 328px;
  padding: 35px 35px 40px;
  -webkit-box-shadow: 0px 11px 29px 1px rgba(34, 60, 80, 0.27);
  -moz-box-shadow: 0px 11px 29px 1px rgba(34, 60, 80, 0.27);
  box-shadow: 0px 11px 29px 1px rgba(34, 60, 80, 0.27);
}
.box:last-child{
  background-color: var(--color-Sky);
  color: var(--color-White);
}
.box h4{
  font-weight: 600;
  font-size: 24px;
} 
.box p{
  color: var(--color-Second-Gray);
  font-weight: 500;
  font-size: 14px;
}
/* main */
/* block-bonuses */
.block-bonuses{
  height: 435px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bonuses{
  display: flex;
  gap: 30px;
}
.bonus{
  width: 328px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  text-align: center;
}
.bonus h4{
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}
.bonus p{
  color: var(--color-Second-Gray);
  font-weight: 500;
  font-size: 14px;
}